/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*...................................................................*/
@font-face {
    font-family: Vazir;
    src: url('../fonts/b-vazir/Vazir.eot');
    src: url('../fonts/b-vazir/Vazir.eot?#iefix') format('embedded-opentype'),
    url('../fonts/b-vazir/Vazir.woff2') format('woff2'),
    url('../fonts/b-vazir/Vazir.woff') format('woff'),
    url('../fonts/b-vazir/Vazir.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/b-vazir/Vazir-Bold.eot');
    src: url('../fonts/b-vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/b-vazir/Vazir-Bold.woff2') format('woff2'),
    url('../fonts/b-vazir/Vazir-Bold.woff') format('woff'),
    url('../fonts/b-vazir/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/b-vazir/Vazir-Light.eot');
    src: url('../fonts/b-vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/b-vazir/Vazir-Light.woff2') format('woff2'),
    url('../fonts/b-vazir/Vazir-Light.woff') format('woff'),
    url('../fonts/b-vazir/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/b-vazir/Vazir-Medium.eot');
    src: url('../fonts/b-vazir/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/b-vazir/Vazir-Medium.woff2') format('woff2'),
    url('../fonts/b-vazir/Vazir-Medium.woff') format('woff'),
    url('../fonts/b-vazir/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/b-vazir/Vazir-Thin.eot');
    src: url('../fonts/b-vazir/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/b-vazir/Vazir-Thin.woff2') format('woff2'),
    url('../fonts/b-vazir/Vazir-Thin.woff') format('woff'),
    url('../fonts/b-vazir/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
}

/*................................................................*/
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/*..................................................................*/
body{
direction:rtl;
font-family: Vazir;
}

.wrapper{
    min-height: 97vh;
    background-color: #e8e8e8;
    width:80%;
    margin:0 auto;
    padding: 10px 100px;
    border-top: 35px solid #C2185B;
}

.exit-btn {
    position: relative;
    text-align: left;
}

.exit-btn >button{
    line-height: 30px;
    width: 57px;
    background-color: #d25700;
    border: 1px solid #d25700;
    color: white;
    outline: none;
    font-family: Vazir;
    transition: all ease 0.4s;
    cursor: pointer;
}

.exit-btn >button:hover{
    background-color: #a04403;
}
.exit-btn >button:focus{
    background-color: #8a3a02;
}


.row{

}


.row:after{
content:'';
display: block;
clear:both;
}

.row .col-6,
.row .col-12{
float: right;
}


.row .col-6{
width:50%;
}
.row .col-12{
width:100%;
}


.text-center{
text-align:center;
}


.clear-fix:after{
    content:'';
    display: block;
    clear:both;
}

hr.divider{
    border-bottom: 2px solid #bfbfbf;
}


.tab-context{

}

.tab-context .tab-bar{

}

.tab-context .tab-bar > li{
    background-color: white;
    line-height: 50px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.13);
    height: 50px;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.tab-context .tab-bar .active{

    border-bottom: 2px solid #f7c3c3;
    font-size: 18px;
    color: #ab3131;
}

.tab-context .tab-content{
    margin-top: 10px;
    padding: 5px;
    overflow: auto;
}

.tab-context .tab-content > div{
    display: none;
}


.tab-context .tab-content .show{
    display: block;
}

.tab-context .tab-content .book-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 80px;
    margin: 10px;
    grid-auto-rows: auto;

}

.tab-context .tab-content .book-grid > li{
}



.information .profile-box{

    padding: 10px;

    border-left: 2px solid #dedede;
}

.information #booksInfo{
    padding: 10px;
}

.information .profile-picture > img{
    width: 100px;
    border:1px solid #e0e0e0;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.13);
}

.information .profile-picture{
    padding-right: 30px;
    padding-top: 10px;
}
.information .profile-info{
    width: 100%;
    padding: 10px;
    padding-top: 20px;
    font-size: 18px;
    color: #585858;
}

.information .profile-info > div {
    margin-bottom: 20px;
    border-bottom: 2px solid #dad4d469;
    padding-bottom: 5px;
}

.information .book-box {
    color: #585858;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    padding-top: 20px;
}
#content1 .book-card {
    background-color: #fff5f5;
    height: 300px;
    width: 200px;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.13);
}
#content1 .book-cover{

    height: 70%;
    display: block;
}

#content1 .book-cover > img{
    width: 100%;
    height: 216px;
}
#content1 .book-action{
    margin-top: 10px;
    height: 20%;
    align-items: center;
    text-align: center;
}

#content1 .book-action > div {
    width: 46px;
    height: 46px;
    display: inline-block;
    vertical-align: top;
    line-height: 64px;
    text-align: center;
    text-align: center;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.29);
    border-radius: 50%;
    margin-left: 3px;
    cursor: pointer;
}

#content1 .book-action > span  {
    width: 46px;
    height: 46px;
    display: inline-block;
    vertical-align: top;
    line-height: 64px;
    text-align: center;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.29);
    border-radius: 50%;
    margin-left: 3px;
    cursor: pointer;
    transition: all ease 0.4s;
}

#content1 .book-action > span:hover{

    background-color: #b10524;
    color: white;
}

#content1 .book-action > div:after{
    content:'';
    display: block;
    clear:both;
}



.wrap-form .input {
    line-height: 34px;
    width: 100%;
    margin: 10px;
    font-size: 18px;


}

.wrap-form .input:focus{
    outline-color: #ce4c4c;
}

.unvalid-input {
    margin-right: 10px;
    margin-bottom: 13px;
    width: 40%;
    line-height: 24px;
    border-radius: 5px;
    color: #da0a0a;
    font-size: 13px;
}

.wrap-form .input.validate{
    border: 1px solid red;
}

.wrap-form .label{
    font-size: 18px;
    color: #585858;
}


.button-submit{
    position: relative;
    height: 312px;
}

.button-submit >button {
    margin: 10px;
    line-height: 30px;
    border: 1px solid #69032b;
    border-radius: 2px;
    width: 100px;
    background-color: #c50953;
    color: white;
    font-family: Vazir;
    font-size: 14px;
    cursor: pointer;
    transition:all ease 0.4s;
    outline: none;
}


.button-submit >button:hover{
    background-color: #a70947;
}

.button-submit >button:focus{
    background-color: #a70947;
}

.button-submit >button:active{
    background-color: #8a0b3d;
}

.dialog{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 160px;
    left: 0;
    top: 0;

}

.dialog .content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid ;
    width: 30%;
    height: 184px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: bounce;
    -webkit-animation-duration: 0.4s;
}


.dialog .message {
    text-align: center;
    line-height: 36px;
    margin: 10px;
    font-family: Vazir;
    padding: 10px;
}

.dialog .btn-submit {
    text-align: center;
    margin-top: 40px ;
}
.dialog .btn-submit >button {
    line-height: 36px;
    width: 40%;
    font-family: Vazir;
    font-size: 18px;
    background-color: #22b122;
    color: white;
    outline: none;
    border: 1px solid #016b06;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.dialog .btn-refuse{
    text-align: center;
    margin-top: 40px ;
}

.dialog .btn-refuse >button {
    line-height: 36px;
    width: 40%;
    font-family: Vazir;
    font-size: 18px;
    outline: none;
    border: 1px solid #900d03;
    border-radius: 5px;
    color: white;
    background-color: #ce1104;
    cursor: pointer;
    transition: all ease 0.4s;
}

.dialog .btn-refuse >button:hover{
    background-color: #ab0d01;
}

.dialog .btn-refuse >button:focus{
    background-color: #800800;
}

.dialog .btn-submit >button:hover{
    background-color: #018a07;
}

.dialog .btn-submit >button:focus{
    background-color: #006905;
}

.thumbnail {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,0.7);
    padding-top: 50px;
    padding-bottom: 50px;
    left: 0;
    top: 0;
}

.thumbnail .content {
    position: relative;
    width: 30%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    -webkit-animation-name: bounce;
    -webkit-animation-duration: 0.5s;
}

.thumbnail .content .cover {
    margin: auto ;
    text-align: center;
    padding: 20px;
}
.thumbnail .content .cover >img {
    width: 80%;
    height: 500px;
}

.thumbnail .content .detail{
    margin: 10px;
}

.thumbnail .content .detail .detail-text{
    font-family: Vazir;
    font-size: 18px;
    margin-top: 5px;
    margin-right: 10px;
    line-height: 36px;
}

@-webkit-keyframes bounce {
    from { opacity:0}
    to { opacity:1}
}

