/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*.........................................................................*/


@font-face {
    font-family: Vazir;
    src: url('../fonts/b-vazir/Vazir.eot');
    src: url('../fonts/b-vazir/Vazir.eot?#iefix') format('embedded-opentype'),
    url('../fonts/b-vazir/Vazir.woff2') format('woff2'),
    url('../fonts/b-vazir/Vazir.woff') format('woff'),
    url('../fonts/b-vazir/Vazir.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/b-vazir/Vazir-Bold.eot');
    src: url('../fonts/b-vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/b-vazir/Vazir-Bold.woff2') format('woff2'),
    url('../fonts/b-vazir/Vazir-Bold.woff') format('woff'),
    url('../fonts/b-vazir/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/b-vazir/Vazir-Light.eot');
    src: url('../fonts/b-vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/b-vazir/Vazir-Light.woff2') format('woff2'),
    url('../fonts/b-vazir/Vazir-Light.woff') format('woff'),
    url('../fonts/b-vazir/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/b-vazir/Vazir-Medium.eot');
    src: url('../fonts/b-vazir/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/b-vazir/Vazir-Medium.woff2') format('woff2'),
    url('../fonts/b-vazir/Vazir-Medium.woff') format('woff'),
    url('../fonts/b-vazir/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/b-vazir/Vazir-Thin.eot');
    src: url('../fonts/b-vazir/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/b-vazir/Vazir-Thin.woff2') format('woff2'),
    url('../fonts/b-vazir/Vazir-Thin.woff') format('woff'),
    url('../fonts/b-vazir/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
}

/*................................................................*/
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}


/**...............................................................*/
body{

    font-family: Vazir;
}
.wrap-all{
    width: 100%;
    margin: 0 auto;
  
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 15px;
    background: #d5e4ff;

}

.form-wrapper{
    width: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 80px 60px 50px 60px;
    margin: 0 auto;
}
.form-wrapper >h3{
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;


}
.form-body{
    align-items: center;
    padding: 50px 50px;
}
.form-input {


}

.form-input:focus {
    border-bottom: 2px solid red;
}

.form-input input[type= 'text'],
.form-input input[type= 'password']
{
    line-height: 40px;
    margin: 10px;
    text-align: right;
    background: transparent;
    padding: 0px 7px 10px 10px;
    width: 100%;
    height: 35px;
    font-size: 18px;
    color: black;
    font-family: Vazir;
    border-bottom: 2px solid #dddddd;
    transition: all ease 0.4s;
}


.form-input input[type= 'text']:focus,
.form-input input[type= 'password']:focus{
    border-bottom: 2px solid red;
}



.btn-submit{
    font-family: Vazir;
    align-self: center;
    line-height: 36px;
    min-width: 150px;
    border: 1px solid #cadeff;
    border-radius: 5px;
    background-color: #cadeff;
    transition-duration: 0.4s;
    outline: none;
    cursor: pointer;
}

.btn-submit .btn-block{
    display: block;
}

.btn-submit:hover{
    background-color: #7daeff;
    color: white;
}

.submit{
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    outline: none;
    border: none;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

*, ::before , ::after {
    box-sizing: inherit;
}

.login-form{
    width: 100%;
}

.dialog{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 160px;
    left: 0;
    top: 0;

}

.dialog .content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid ;
    width: 30%;
    height: 184px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: bounce;
    -webkit-animation-duration: 0.4s;
}

.dialog .content .icon {
    margin-top: 10px;
    height: 20%;
    align-items: center;
    text-align: center;
}

.dialog .content .icon >span {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    line-height: 71px;
    text-align: center;
    border-radius: 50%;
    margin-left: 3px;
    color: #d83333;
}

.dialog .content .icon .error{
    font-size: 40px;
}

.dialog .content .message{
    text-align: center;
    margin: 20px;
    margin-top: 40px;
}

.dialog .content .btn-ok{
    text-align: center;
    line-height: 36px;
}

.dialog .content .btn-ok >button{
    line-height: 36px;
    width: 82px;
    border: 1px solid #06a706;
    color: white;
    background-color: #09a509;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: all ease 0.4s;
}


.dialog .content .btn-ok >button:hover{
  background-color: #016b06;
}

.dialog .content .btn-ok >button:focus{
    background-color: #015401;
}